.nav
{height: 70px;
border-bottom: 1px solid black;
display: flex;
align-items: center;
}
.nav-itme
{margin-left:10px;}
.productname{font-size: 60px;
font-weight: bold;}

.productrating
{font-size:40px;
font-weight:30;}

.main
{width: 1000px;
margin: 0 auto;}

.itemslist
{display: flex;}

.recitem
{display: flex;
 width: 300px;
 height:200px;
 border: 1px solid black;
 margin: 20px;
 margin-bottom: 10px;
 border-radius: 4px;
}
.description{
 margin-bottom: 20px;
}

.itemslist2
{display: flex;}
.recitems2
{display: flex;}
.item
{display: flex;
  width: 300px;
  height:200px;
  border: 1px solid black;
  margin: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
}
