body{
  background-image: url('https://img.freepik.com/free-photo/flat-lay-composition-vegetables-with-copyspace_23-2148190210.jpg?size=626&ext=jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size : cover;
}
.nav
{height: 70px;
border-bottom: 1px solid black;
display: flex;
align-items: center;
}
.nav-item
{margin-left:10px;}
.title{font-size: 60px;
    font-weight: bold;
    margin-left: 30%;
    align-items: center;

  }


  .main
  {background-color: rgba( 255, 255, 255, 0.7 );
      align-items: center;
      margin-left: 100px;
      width: 1000px;
      height:1100px;
      border: 3px solid #78766B;
      margin: 30px;
      margin-bottom: 10px;
      border-radius: 6px;}


.productname{font-size: 30px;
font-weight: bold;}

.productrating
{font-size:25px;
font-weight:30;}



.itemslist
{display: flex;}

.recitem
{display: flex;
  background-color: #FFFFFF;
 width: 200px;
 height:200px;
 border: 1px solid black;
 margin: 20px;
 margin-bottom: 10px;
 border-radius: 4px;
}
.description{
 margin-bottom: 20px;
}

.itemslist2
{display: flex;}
.recitems2
{display: flex;
    background-color: #FFFFFF;
  width: 200px;
  height:200px;
  border: 1px solid black;
  margin: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.item
{display: flex;
  width: 200px;
  height:200px;
  border: 1px solid black;
  margin: 20px;
  margin-bottom: 10px;
  border-radius: 4px;
}
